:root {
	--background-color-a: hsl(283, 39%, 53%);
	--background-color-b: hsl(282, 44%, 47%);
	--background-color-c: #944EB2;
	--background-color-d: hsl(282, 49%, 41%);
	--text-color-a: white;
	--text-color-b: black;
	--text-color-c: lightgrey;

	--red-a: #e74c3c;
	--red-b: #c0392b;
	--orange-a: #e67e22;
	--orange-b: #d35400;
	--yellow-a: #f1c40f;
	--yellow-b: #f39c12;
	--green-a: #2ecc71;
	--green-b: #27ae60;
	--blue-a: #3498db;
	--blue-b: #2980b9;
	--purple-a: #9b59b6;
	--purple-b: #8e44ad;
	--pink-a: #e78ae7;
	--pink-b: #b65fb6;

	--border-radius-a: 20px;
	--border-radius-full: 9999px;

	--title-font: "Fredoka One", cursive;
	--body-font: "Fredoka", sand-serif;

	--menu-buttons-width: 45px;
	--menu-buttons-margin: 50px;
}

html, body {
	position: relative;
	height: 100%;
	background-color: var(--background-color-a);
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	color: var(--text-color-a);
	font-family: var(--body-font);
	box-sizing: border-box;
}

h1 {
	font-family: var(--title-font);
	font-weight: 400;
}

button, .game, #title, #home-menu h1 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	padding: 5px 10px;
	outline: none;
	border: none;
	border-radius: var(--border-radius-a);
	font-family: var(--body-font);
	font-size: 1rem;
	font-weight: 600;
}

::selection {
	color: var(--text-color-b);
	background-color: var(--yellow-a);
}

body #main {
	display: flex;
    gap: 50px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body #main main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* Buttons */
button {
	display: flex;
	align-items: center;
    justify-content: center;
	border: none;
	font-family: var(--body-font);
	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
	transition: 200ms ease-in-out;
	-webkit-transition: 200ms ease-in-out;
	cursor: pointer;
}

.text-button {
	--color: var(--text-color-a);
	--primary-background-color: var(--green-a);
	--secondary-background-color: var(--green-b);

	padding: 5px 10px;
	color: var(--color);
	background-color: var(--primary-background-color);
	border-radius: var(--border-radius-a);
	border-bottom: 5px solid var(--secondary-background-color);
	text-shadow: 0px -2px var(--secondary-background-color);
}

.text-button:hover {
	--offset: 4px;
	margin: calc(var(--offset) / 2) 0;
	transform: translateY(var(--offset));
	-ms-transform: translateY(var(--offset));
	-webkit-transform: translateY(var(--offset));
	border-bottom: 1px solid var(--secondary-background-color);
}

.icon-button {
	color: var(--text-color-a);
	background: none;
}

.icon-button:hover {
	color: var(--text-color-c);
}

/* Scrollbars */
body::-webkit-scrollbar, #chat-messages::-webkit-scrollbar, section::-webkit-scrollbar {
	width: 20px;
}

body::-webkit-scrollbar-track, #chat-messages::-webkit-scrollbar-track, section::-webkit-scrollbar-track {
	background: none;
}

body::-webkit-scrollbar-thumb, #chat-messages::-webkit-scrollbar-thumb, section::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-full);
	border: 5px solid transparent;
	background-color: var(--background-color-b);
	background-clip: padding-box;
}

#chat-messages::-webkit-scrollbar-thumb {
	background-color: var(--background-color-a);
}

/* Shading */
.highlight-top {
	border-bottom: 5px solid var(--background-color-d);
}

/* Menus */
#menu-buttons {
	width: var(--menu-buttons-width);
	background-color: var(--background-color-b);
	border-top-right-radius: var(--border-radius-full);
	border-bottom-right-radius: var(--border-radius-full);
}

#menu-buttons #menu-buttons-inner {
	--padding: 100px;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	padding: var(--padding) 0;
    box-sizing: border-box;
}

#menu-buttons #menu-buttons-inner button {
	z-index: 1;
}

#menu-buttons-indicator {
	position: absolute;
	left: -100%; /* Hide before page is loaded */
	width: 80%;
    background-color: var(--background-color-a);
	border-radius: var(--border-radius-full);
    aspect-ratio: 1;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	transform: translate(-50%, -50%);
}

#menus {
	flex: 1;
	position: relative;
}

/* TO DO: make menus move up and down when switched between */
#menus > section {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - var(--menu-buttons-margin));
	height: calc(100% - 70px);
	border-radius: var(--border-radius-a);
	opacity: 0;
	overflow-y: auto;
	/* transition: 200ms ease-in-out;
	-webkit-transition: 200ms ease-in-out; */
}

#menus > section.active {
	opacity: 1;
}

#menus > section:not(.active) {
	pointer-events: none;
}

#menus > section#customization-menu {
	overflow-y: visible;
}

#title.hidden {
	display: none;
}

/* Home */
#home-menu {
	display: flex;
	gap: 50px;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	padding-bottom: 100px;
    box-sizing: border-box;
}

#home-menu h1 {
	font-size: 7.5vw;
}

#home-menu #home-buttons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

#home-menu #home-buttons button {
	padding: 7.5px 15px;
	font-size: 1.5rem;
}

#home-menu #home-buttons .new-flex-row {
	width: 100%;
	display: flex;
	align-items: inherit;
	justify-content: inherit;
}

/* Games */
body > canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/* Game list */
#games-grid {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#games-grid .game {
	flex-basis: 50%;
	display: flex;
	gap: 10px;
	align-items: center;
	flex-direction: column;
	padding: 20px;
    aspect-ratio: 1 / 1;
	background-color: var(--background-color-b);
	border-radius: var(--border-radius-a);
	cursor: pointer;
}

.game .game-thumbnail {
	width: 100%;
	background-color: white;
	border-radius: var(--border-radius-a);
	aspect-ratio: 1;
	box-sizing: border-box;
}

.game .game-title {
	margin: 0;
}

/* Player list */
#player-list {
	display: flex;
	gap: 10px;
	flex-direction: column;
	width: fit-content;
	padding: 20px;
	background-color: var(--background-color-b);
	border-radius: var(--border-radius-a);
}

#player-list > p {
	font-family: var(--title-font);
	margin: 0;
}

#player-list #players {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.player {
	display: flex;
	gap: 10px;
	padding: 10px;
	color: var(--text-color-b);
	background-color: var(--text-color-a);
	border-radius: var(--border-radius-full);
}

.player .character, #character-preview {
	position: relative;
	height: 40px;
	aspect-ratio: 1;
	border-radius: var(--border-radius-full);
	background-color: var(--background-color-a);
	box-sizing: border-box;
}

.player .character .character-detail, #character-preview #character-preview-detail {
	position: absolute;
	--offset: 10px;
	--mask-image: url("../media/characters/pig.svg");
	top: calc(var(--offset) * -1);
	left: calc(var(--offset) * -1);
	width: calc(100% + calc(var(--offset) * 2));
	height: calc(100% + calc(var(--offset) * 2));
	mask: var(--mask-image) no-repeat center;
		-webkit-mask: var(--mask-image) no-repeat center;
	mask-size: calc(100% - calc(var(--offset) * -2));
		-webkit-mask-size: calc(100% - calc(var(--offset) * -2));
}

/* Character shapes (animals) */
.player .character.pig .character-detail, #character-preview.pig #character-preview-detail {
	--mask-image: url("../media/characters/pig.svg");
}
.player .character.cat .character-detail, #character-preview.cat #character-preview-detail {
	--mask-image: url("../media/characters/cat.svg");
}
.player .character.bear .character-detail, #character-preview.bear #character-preview-detail {
	--mask-image: url("../media/characters/bear.svg");
}
.player .character.sheep .character-detail, #character-preview.sheep #character-preview-detail {
	--mask-image: url("../media/characters/sheep.svg");
}
.player .character.dog .character-detail, #character-preview.dog #character-preview-detail {
	--mask-image: url("../media/characters/dog.svg");
}
.player .character.spider .character-detail, #character-preview.spider #character-preview-detail {
	--mask-image: url("../media/characters/spider.svg");
}

/* Character body colors*/
.player .character.red, #character-preview.red {
	background-color: var(--red-a);
}
.player .character.orange, #character-preview.orange {
	background-color: var(--orange-a);
}
.player .character.yellow, #character-preview.yellow {
	background-color: var(--yellow-a);
}
.player .character.green, #character-preview.green {
	background-color: var(--green-a);
}
.player .character.blue, #character-preview.blue {
	background-color: var(--blue-a);
}
.player .character.purple, #character-preview.purple {
	background-color: var(--purple-a);
}
.player .character.pink, #character-preview.pink {
	background-color: var(--pink-a);
}

/* Character detail colors*/
.player .character.red .character-detail, #character-preview.red #character-preview-detail {
	background-color: var(--red-b);
}
.player .character.orange .character-detail, #character-preview.orange #character-preview-detail {
	background-color: var(--orange-b);
}
.player .character.yellow .character-detail, #character-preview.yellow #character-preview-detail {
	background-color: var(--yellow-b);
}
.player .character.green .character-detail, #character-preview.green #character-preview-detail {
	background-color: var(--green-b);
}
.player .character.blue .character-detail, #character-preview.blue #character-preview-detail {
	background-color: var(--blue-b);
}
.player .character.purple .character-detail, #character-preview.purple #character-preview-detail {
	background-color: var(--purple-b);
}
.player .character.pink .character-detail, #character-preview.pink #character-preview-detail {
	background-color: var(--pink-b);
}

.player .name, .player .score {
	margin: 0;
}

/* Character preview */
#player-settings {
	display: flex;
	gap: 15px;
	align-items: center;
}

#character-preview {
	height: 60px;
}

#character-preview #character-preview-detail {
	--offset: 15px;
}

/* Player options */
#player-options {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

#player-options #player-name-input {
	flex: 200%;
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
}

#player-options #player-name-input #player-name, #party-code-input #party-code {
	flex: 1;
	width: 100%;
}

#player-options button, #party-options button {
	flex-basis: calc(50% - 5px);
	height: fit-content;
}

/* Party options */
#party-code-input {
	display: flex;
	gap: 10px;
	align-items: center;
}

#party-code-input #party-code {
	text-transform: uppercase;
}

#party-options {
	display: flex;
	gap: 10px;
	margin-top: 15px;
	align-items: center;
    justify-content: center;
}

#party-options #leave-party {
	--primary-background-color: var(--red-a);
	--secondary-background-color: var(--red-b);
}

/* Modal */
#modal {
	display: none;
	position: absolute;
	align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	backdrop-filter: blur(5px);
    background-color: rgba(20, 20, 20, 40%);
	z-index: 300;
}
#modal.active {
	display: flex;
}

#modal #modal-inner {
	position: relative;
	height: auto;
	display: flex;
	gap: 0;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
	max-width: 500px;
	background-color: var(--background-color-a);
	border-radius: var(--border-radius-a);
}

#modal #modal-inner #modal-title {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 10px 20px;
	background-color: var(--background-color-b);
	border-top-left-radius: var(--border-radius-a);
	border-top-right-radius: var(--border-radius-a);
	white-space: -moz-nowrap; /* Firefox */
	white-space: -o-nowrap; /* Opera */
	white-space: nowrap; /* Chrome */
	box-sizing: border-box;
}

#modal #modal-inner #modal-title button {
	height: 90%;
}

#modal #modal-inner #modal-body {
	display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#modal #modal-inner #modal-body > * {
	margin: 0;
}

/* Chat */
#chat {
	display: flex;
	gap: 10px;
	flex-direction: column-reverse;
	position: fixed;
	bottom: 0;
	left: calc(var(--menu-buttons-width) + var(--menu-buttons-margin));
	height: auto;
	width: 275px;
	padding: 20px;
	background-color: var(--background-color-b);
	border-top-left-radius: var(--border-radius-a);
	border-top-right-radius: var(--border-radius-a);
	transition: transform 200ms ease-in-out;
	-webkit-transition: transform 200ms ease-in-out;
	z-index: 200;
}

#chat:not(.active) {
	transform: translateY(calc(100% - 40px));
	-ms-transform: translateY(calc(100% - 40px));
	-webkit-transform: translateY(calc(100% - 40px));
}

#chat-header {
	display: flex;
	align-items: center;
    justify-content: space-between;
	transition: transform 200ms ease-in-out;
	-webkit-transition: transform 200ms ease-in-out;
	transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	-webkit-transform: translateY(-12px);
	cursor: pointer;
}

#chat.active #chat-header {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
}

#chat-header #chat-title {
	margin: 0;
	font-family: var(--title-font);
}

#chat:not(.active) #toggle-chat {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#chat-input-outer {
	display: flex;
	gap: 10px;
	width: 100%;
	box-sizing: border-box;
}

#chat-input {
	width: 100%;
	height: fit-content;
    margin-top: 4px;
}

#chat-messages {
	display: flex;
	gap: 5px;
    flex-direction: column;
	max-height: 90px;
	margin-right: 5px;
    overflow-y: auto;
}

.chat-message {
	display: flex;
	gap: 5px;
}

.chat-message.hidden {
	display: none;
}

.chat-message p {
	margin: 0;
}

.chat-message .name {
	text-shadow: 1px 1px 5px black;
	white-space: nowrap;
}

.chat-message .text {
	word-break: break-word;
}

.chat-message.red .name {
	color: var(--red-a);
}
.chat-message.orange .name {
	color: var(--orange-a);
}
.chat-message.yellow .name {
	color: var(--yellow-a);
}
.chat-message.green .name {
	color: var(--green-a);
}
.chat-message.blue .name {
	color: var(--blue-a);
}
.chat-message.purple .name {
	color: var(--purple-a);
}
.chat-message.pink .name {
	color: var(--pink-a);
}

/* Responsiveness */
@media screen and (max-width: 600px) {
	body {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}

	/* Home */
	#home-menu #home-buttons {
		flex-direction: column;
	}

	#home-menu #home-buttons button {
		padding: 5px 10px;
		font-size: 1rem;
	}

	/* Game list */
	main#games-grid, aside#side-menu {
		flex: 1;
		width: 100%;
		margin: 0 30px 5px 30px;
		box-sizing: border-box;
	}

	/* Player options */
	#player-options #player-name-input {
		flex-direction: column;
		align-items: flex-start;
	}

	/* Modal */
	#modal #modal-inner {
		margin: 0 20px;
	}

	/* Chat */
	#chat {
		--margin: 50px;
		left: var(--margin);
		right: var(--margin);
		width: calc(100% - calc(var(--margin) * 2));
		box-sizing: border-box;
	}
}

@media screen and (min-width: 1500px) {
	.game {
		flex-basis: 33% !important;
	}
}

@media screen and (min-height: 1000px) {
	#menu-buttons #menu-buttons-inner {
		gap: 150px;
		justify-content: center;
	}
}